.main-container {
  display: flex;
  /* Bydefault flex-direction will be row */
  flex-direction: row;
  flex-wrap: wrap;
}

.div-main {
  background-color: crimson;
  width: 100px;
  height: 100px;
  margin: 5px;
}

/* layout */
/* 1. flex */
/* 2. grid */
