* {
  padding: 0;
  margin: 0;
}

/*  #0d47a1 #42a5f5 */

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 70vh;
  color: white;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  background: linear-gradient(145deg, #0d48a1, #42a4f5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-nav nav ul {
  list-style: none;
  display: flex;
}

.header-nav nav ul li {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.header-nav nav ul li:hover {
  background-color: rgb(66, 165, 245, 0.2);
}

.header-img img {
  height: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

.container .body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .body .logo {
  background-image: url('../img/angular.svg');
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

.container .body .content {
  font-size: 32px;
}
