* {
  margin: 0;
  padding: 0;
}

/*  #0d47a1 #42a5f5 */

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  height: 80vh;
  background: linear-gradient(154deg, #0d47a1, #42a5f5);
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}

.top-header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  color: white;
}

.header-nav ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  font-weight: 400;
}

.header-nav ul li {
  padding: 10px;
}

.header-nav ul li:hover {
  background-color: rgba(66, 164, 245, 0.2);
  border-radius: 2px;
  transition: all 0.2s;
}

.header-item1 {
  padding: 0px 20px 0px 0px;
}

.header-item1 img {
  height: 40px;
}

.main-content {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-logo {
  background-image: url('../img/angular.svg');
  background-size: cover;
  background-position: top;
  height: 500px;
  width: 500px;
  z-index: 100;
}

.main-body {
  font-size: 36px;
  line-height: 90px;
}
